<html>
  <form action="{% url 'simbion_auth:login' %}" method="POST">
    {% csrf_token %}
    <p>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required="">
    </p>
    <p>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required="">
    </p>
    <input type="submit">
  </form>
</html>
