<html>
  <script type="text/javascript">
    function roleSelect() {
      if(document.getElementById("role").value == "mahasiswa") {
        document.getElementById("mahasiswa").style.display = "block";
        document.getElementById("donatur").style.display = "none";
        document.getElementById("submit").style.display = "block";
      } else if(document.getElementById("role").value == "donatur") {
        document.getElementById("mahasiswa").style.display = "none";
        document.getElementById("donatur").style.display = "block";
        document.getElementById("submit").style.display = "none";
      } else {
        document.getElementById("mahasiswa").style.display = "none";
        document.getElementById("donatur").style.display = "none";
        document.getElementById("submit").style.display = "none";
      }
    }

    function tipeSelect() {
      if(document.getElementById("tipe").value == "individu") {
        document.getElementById("individu").style.display = "block";
        document.getElementById("yayasan").style.display = "none";
        document.getElementById("submit").style.display = "block";
      } else if(document.getElementById("tipe").value == "yayasan") {
        document.getElementById("individu").style.display = "none";
        document.getElementById("yayasan").style.display = "block";
        document.getElementById("submit").style.display = "block";
      } else {
        document.getElementById("individu").style.display = "none";
        document.getElementById("yayasan").style.display = "none";
        document.getElementById("submit").style.display = "none";
      }
    }
  </script>
  <form action="{% url 'simbion_auth:register' %}" method="POST">
    {% csrf_token %}
    <p>
      <select name="role" id="role" onchange=roleSelect() autocomplete="off">
        <option value="" selected disabled>Pilih Role</option>
        <option value="mahasiswa">Mahasiswa</option>
        <option value="donatur">Donatur</option>
      </select>
    </p>
    <div id="mahasiswa" style="display: none">
      <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username_mahasiswa">
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password_mahasiswa">
      </p>
      <p>
        <label for="npm">NPM</label>
        <input type="text" id="npm" name="npm">
      </p>
      <p>
        <label for="email">Email</label>
        <input type="text" id="email" name="email_mahasiswa">
      </p>
      <p>
        <label for="nama">Nama Lengkap</label>
        <input type="text" id="nama" name="nama_mahasiswa">
      </p>
      <p>
        <label for="no_telp">Nomor Telepon</label>
        <input type="text" id="no_telp" name="no_telp_mahasiswa">
      </p>
      <p>
        <label for="alamat_tinggal">Alamat Tempat Tinggal</label>
        <input type="text" id="alamat_tinggal" name="alamat_tinggal">
      </p>
      <p>
        <label for="alamat_domisili">Alamat Domisili</label>
        <input type="text" id="alamat_domisili" name="alamat_domisili">
      </p>
      <p>
        <label for="nama_bank">Instansi Bank</label>
        <input type="text" id="nama_bank" name="nama_bank">
      </p>
      <p>
        <label for="no_rekening">Nomor Rekening</label>
        <input type="text" id="no_rekening" name="no_rekening">
      </p>
      <p>
        <label for="nama_pemilik">Nama Pemilik</label>
        <input type="text" id="nama_pemilik" name="nama_pemilik">
      </p>
    </div>
    <div id="donatur" style="display: none">
      <p>
        <select name="tipe" id="tipe" onchange=tipeSelect() autocomplete="off">
          <option value="" selected disabled>Pilih Tipe Donatur</option>
          <option value="individu">Individu</option>
          <option value="yayasan">Yayasan</option>
        </select>
      </p>
      <div id="individu" style="display: none">
        <p>
          <label for="username">Username</label>
          <input type="text" id="username" name="username_individu">
        </p>
        <p>
          <label for="password">Password</label>
          <input type="password" id="password" name="password_individu">
        </p>
        <p>
          <label for="nomor_identitas">Nomor Identitas</label>
          <input type="text" id="nomor_identitas" name="nomor_identitas_individu">
        </p>
        <p>
          <label for="nik">NIK</label>
          <input type="text" id="nik" name="nik">
        </p>
        <p>
          <label for="email">Email</label>
          <input type="text" id="email" name="email_individu">
        </p>
        <p>
          <label for="nama">Nama Lengkap</label>
          <input type="text" id="nama" name="nama_individu">
        </p>
        <p>
          <label for="npwp">NPWP</label>
          <input type="text" id="npwp" name="npwp">
        </p>
        <p>
          <label for="no_telp">Nomor Telepon</label>
          <input type="text" id="no_telp" name="no_telp_individu">
        </p>
        <p>
          <label for="alamat">Alamat Lengkap</label>
          <input type="text" id="alamat" name="alamat_individu">
        </p>
      </div>
      <div id="yayasan" style="display: none">
        <p>
          <label for="username">Username</label>
          <input type="text" id="username" name="username_yayasan">
        </p>
        <p>
          <label for="password">Password</label>
          <input type="password" id="password" name="password_yayasan">
        </p>
        <p>
          <label for="nomor_identitas">Nomor Identitas</label>
          <input type="text" id="nomor_identitas" name="nomor_identitas_yayasan">
        </p>
        <p>
          <label for="no_sk_yayasan">Nomor SK Yayasan</label>
          <input type="text" id="no_sk_yayasan" name="no_sk_yayasan">
        </p>
        <p>
          <label for="email">Email</label>
          <input type="text" id="email" name="email_yayasan">
        </p>
        <p>
          <label for="nama">Nama Yayasan</label>
          <input type="text" id="nama" name="nama_yayasan">
        </p>
        <p>
          <label for="no_telp_cp">Nomor Telepon Contact Person</label>
          <input type="text" id="no_telp_cp" name="no_telp_cp">
        </p>
        <p>
          <label for="npwp">NPWP</label>
          <input type="text" id="npwp" name="npwp">
        </p>
        <p>
          <label for="alamat">Alamat Yayasan</label>
          <input type="text" id="alamat" name="alamat_yayasan">
        </p>
      </div>
    </div>
    <input type="submit" value="submit" id="submit" style="display:none">
  </form>
</html>
