<html>
  {% if role == "mahasiswa" %}
    <p><a href="{% url 'simbion_beasiswa:lihat' %}">Lihat Beasiswa</a></p>
    <p><a href="{% url 'simbion_auth:logout' %}">Logout</a></p>
  {% elif role == "donatur" %}
    <p><a href="{% url 'simbion_beasiswa:lihat' %}">Lihat Beasiswa</a></p>
    <p><a href="{% url 'simbion_beasiswa:new' %}">Membuat Beasiswa Baru</a></p>
    <p><a href="{% url 'simbion_auth:logout' %}">Logout</a></p>
  {% else %}
    <p><a href="{% url 'simbion_auth:login' %}">Login</a></p>
    <p><a href="{% url 'simbion_auth:register' %}">Register</a></p>
  {% endif %}
</html>
