<!DOCTYPE html>
<html>

<body>

    <h2>DAFTAR BEASISWA</h2>

    <table style="width:100%">
        <tr>
            <th>Nomor Urut</th>
            <th>Waktu Tutup Pendaftaran</th>
            <th>Total Mahasiswa</th>
        </tr>
        {% for data in info_beasiswa %}
        <tr>
            <th>{{data.no_urut}}</th>
            <th>{{data.tgl_tutup_pendaftaran}}</th>
            <th>0</th>
        </tr>
        {% endfor %}
    </table>

</body>

</html>