<html>
  <form action="{% url 'simbion_beasiswa:new_beasiswa_paket' %}" method="POST">
    {% csrf_token %}
    <p>
      <label for="kode">Kode</label>
      <input type="text" id="kode" name="kode">
    </p>
    <p>
      <label for="nama">Nama Paket Beasiswa</label>
      <input type="text" id="nama" name="nama">
    </p>
    <p>
      <label for="jenis">Jenis Paket Beasiswa</label>
      <input type="text" id="jenis" name="jenis">
    </p>
    <p>
      <label for="deskripsi">Deskripsi</label>
      <input type="text" id="deskripsi" name="deskripsi">
    </p>
    <p>
      <label for="syarat">Syarat Beasiswa</label>
      <input type="text" id="syarat" name="syarat">
    </p>
    <input type="submit">
  </form>
</html>
