<html>
  <p><a href="{% url 'simbion_beasiswa:new_beasiswa_paket' %}">Membuat Paket Beasiswa Baru</a></p>
  <p><a href="{% url 'simbion_beasiswa:add_new_beasiswa' %}">Menambahkan Beasiswa dari Paket</a></p>
</html>
