<html>
  <form action="{% url 'simbion_beasiswa:add_new_beasiswa' %}" method="POST">
    {% csrf_token %}
    <p>
      <select name="kode" id="kode" autocomplete="off" required="">
        <option value="" selected disabled>Kode</option>
        {% for kode in kodes %}
          <option value="{{kode.kode}}">{{kode.kode}}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      <label for="nomor">Nomor Urut</label>
      <input type="text" id="nomor" name="nomor">
    </p>
    <p>
      <label for="mulai">Tanggal Mulai Pendaftaran</label>
      <input type="date" id="mulai" name="mulai">
    </p>
    <p>
      <label for="tutup">Tanggal Tutup Pendaftaran</label>
      <input type="date" id="tutup" name="tutup">
    </p>
    <input type="submit">
  </form>
</html>
